MAILTO=x@gmail.com
0 21 * * * 			df -h | mail -s "df -h" xl@gmail.com
0 21 * * *			uptime |mail -s "uptime" x@gmail.com
*/5 * * * * 			~/rpi-cam/measure_temp.sh
#*/15 7-16 * * * 		~/rpi-cam/take_picture.sh 
30 3 * * *			reboot
